.App {
  width: 800px;
  display: block;
  margin: 60px auto;
}
.App-header {
  margin-top: 160px;
}
.App-logo {
  font-size: 100px;
  font-family: "Monoton", sans-serif;
  color: rgb(31, 31, 31);
  opacity: 80%;
}

.App footer {
  color: #958d8d;
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.App a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}
