.Results a {
  text-decoration: none;
  border: 1px solid #efb6a5;
  padding: 10px 15px;
  border-radius: 50px;
  color: #efb6a5;
  font-weight: bold;
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.Results a:hover {
  color: #ffffff;
  background-color: #efb6a5;
}

@media (max-width: 520px) {
  .Results h2 {
    text-align: center;
  }
}
